.productDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.productName {
  font-size: 1.5rem
}
.productDetailsName {
  font-size: 2rem
}
.productDetailsPrice {
  font-size: 1.5rem
}